.container{
    display: flex;
    margin: auto;
    align-items: center;
    flex-direction: column;
}

.header{
    font-weight: 700;
    letter-spacing: 1.2px;
    font-family: 'Poppins';
    font-size: 54px;
}