.button{
    height: 70px;
    border: 8.6px solid #967451;
    width: 70px;
    cursor: pointer;
    border-radius: 55px;
    box-shadow: 3px 3px 15px black, -3px -3px 15px black;
}

.button:hover{
    scale: .98;
    box-shadow: 1px 1px 7px black, -1px -1px 7px black;
}