 
.tableContainer{
    display: flex;
    margin: auto;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    overflow-x: scroll;
    max-width: 100%;
}

.table{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
    background-color: #967451;
    box-shadow: 2px 2px 5px black, -2px -2px 5px;
    width: 100%;
}

.headerRow{
    border: 2px solid #7ed6bb;
    color: #e3af7b;
    font-weight: 600;
    background-color: #3d4f8a;
    border: 2px solid red;
}


.td{
    border: 2px solid #7ed6bb;
    color: #3d4f8a;
    font-weight: 600;
    padding: 3px;
    background-color: #e3af7b;
}

.tokenImage{
    width: 20%;
}