.tableContainer {
  display: flex;
  margin: auto;
  justify-content: center;
  flex-direction: column;
  overflow-x: scroll;
  width: 100%;
  border-radius: 15px;
}

.table {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #50c878;
  box-shadow: 2px 2px 5px black, -2px -2px 5px;
  border-collapse: collapse;
  border: none;
}

table,
th,
td {
 
}


.headerRow {
  color: #e3af7b;
  font-weight: 600;
  background-color: #3d4f8a;
}

.tableDetailsContainer{
}

.tableRow {
  padding: 5px;
  border: 1px solid #50c878;
}

.tableDetail {
  color: #50c878;
  font-weight: 500;
  background-color: #003366;
  font-family: "poppins";
  font-size: 24px;
  padding: 6px;
  letter-spacing: 1px;
  border: none;
}

.tokenImage {
  height: 45px;
  width: 45px;
  display: flex;
  border-radius: 30px;
}

.expandButton{
    border: none;
    border-radius: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    background-color: #50c878;
}

.expansionTable{

}

.expansionHead{
}

.expansionDescriptionHeader{
  font-size: 22px;
  font-family: 'poppins';
  font-weight: 600;
  display: flex;
  margin-left: 30px;
  letter-spacing: 1px;
}

.expansionUSAHeader{
  font-size: 22px;
  font-family: 'poppins';
  font-weight: 600;
  letter-spacing: 1px;

}

.expansionBody{

}

.expansionDescriptionDetail{
  font-size: 19px;
  color: #003366;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 5px;
  font-family: 'poppins';
  width: 100%;
  margin-left: 100px;
}

.expansionUSADetail{
  color: #003366;
  font-size: 19px;
}

.expansionUSADetail{

}

.expansionRow{
  padding: 15px;
  width: fit-content;
}

.description{
    display: flex;
    font-size: 22px;
    border: 1px solid black;
}

.button{
  background-color: #003366;
  color: #50c878;
  padding: 10px;
  font-size: 20px;
  font-family: 'poppins';
  border-radius: 30px;
  width: 100px;
  font-weight: 600;
}